<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script type="text/javascript">
    var b = null;
      function submission() {
          
          var test = $("#Process_ID").val();
          {% for pro in All_Process_List %}
              if("{{ pro.name }}" === test)
                  b = "{{ pro.name }}"
          {% endfor %}
        alert(b);
      }
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
  $("#Completed1").click(function(){
    alert("The paragraph was clicked.");
  });
});


</script>
<script>

<script>

  $(document).ready(function() {
	
	$(".button a span").click(function() {
		var btn = $(this).parent().parent();
		var loadSVG = btn.children("a").children(".load");
		var loadBar = btn.children("div").children("span");
		var checkSVG = btn.children("a").children(".check");
		
		btn.children("a").children("span").fadeOut(200, function() {
			btn.children("a").animate({
				width: 56	
			}, 100, function() {
				loadSVG.fadeIn(300);
				btn.animate({
					width: 320	
				}, 200, function() {
					btn.children("div").fadeIn(200, function() {
						loadBar.animate({
							width: "100%"	
						}, 2000, function() {
							loadSVG.fadeOut(200, function() {
								checkSVG.fadeIn(200, function() {
									setTimeout(function() {
										btn.children("div").fadeOut(200, function() {
											loadBar.width(0);
											checkSVG.fadeOut(200, function() {
												btn.children("a").animate({
													width: 150	
												});
												btn.animate({
													width: 150
												}, 300, function() {
													btn.children("a").children("span").fadeIn(200);
												});
											});
										});
									}, 2000);	
								});
							});
						});
					});
				});
			});
		});
		
	});
	
});

</script>
<script>
var b = 0;
    function myFunction(id) {
    var x = document.getElementById(id).name;
    
    document.getElementById("demo").innerHTML = x;
    // alert( {{ component.process_list.all}} );
    {% for pro in process_list %}
              if("{{ pro.name }}" === x){
                b = "{{ pro.id }}"
                  alert(b); 
                  return b;
            }
          {% endfor %}
        
   
    }
    
</script>
<style>
@primary: #3f82d7;
@success: #28e470;
@light: #d3d7e0;

body {
	background: #eef0f5;
	font-family: Arial;	
	font-size: 14px;
}

.button {
  svg {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -use javascript variable in form django15px 0 0 -15px;
    fill: #fff;
  }
  div {
    span {
      position: absolute;
      background: @success;
      height: 4px;
      left: 0;
      top: 0;
      width: 0;
      display: block;
      border-radius: 2px;
    }
    height: 4px;
    margin: -2px 0 0 0;
    position: absolute;
    top: 50%;
    left: 71px;
    right: 25px;
    background: @light;
    display: none;
    border-radius: 2px;
  }
  a {
    span {
      cursor: pointer;
      display: block;
    }
    position: relative;
    display: block;
    background: @primary;
    z-index: 2;
    line-height: 56px;
    height: 56px;
    border-radius: 28px;
    width: 100%;
    text-align: center;
    color: #fff;
    box-shadow: 0 2px 6px rgba(170, 185, 200, 0.4);
  }
	border-radius: 28px;
  position: absolute;
  left: 50%;
  top: 50%;
	display: block;
  background: #fff;
	width: 150px;
  box-shadow: 0 2px 6px rgba(170, 185, 200, 0.4);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

}



</style>



 

<script type="text/javascript">

$("#modal").trigger('click');
</script>

    <title>Hello, world!</title>

  </head>
  <body>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal" id="modal" data-modal="modal">
      Launch demo modal
    </button>
    
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-content modal-content-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add Processes</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <table class="table table-borderless" id="process-table">
                <thead>
                    <tr>
                        <th>Stage</th>
                        <th>Process</th>
                        <th>Description</th>
                        <th>Planned Date</th>
                        <th>Status</th>
                        <th>Status</th>
                        
                      </tr>
                      <tr>
                </thead>
                  
                <form action="/fp/change_process_status/{{ component.id }}/" method="post" id="myform"  enctype="multipart/form-data">{% csrf_token %}

                  <tbody>
                  {% for pro , pro1 in process_list.items %}
                    <tr>
                    <td id="increment-me"></td>
                    <td>
                      <div class="btn-group">
                  
                        {{pro}}
                        
                        {% for status in pro1 %}
                          <td>{{status}}</td>
                        {% endfor %}
                        
                        
                        <td> 
                          <input type="submit" onclick="myFunction(id)" id=" {{pro}}" name= "name" value="{{pro}}">
                        </td>
                        </div>
                        {% endfor %}
                      
                </tbody>
                  

                    <a href="/fp/all">Cancel</a> 
                </form>
                </table>
                <div>
                  <form action="/fp/Add_Process_to_Component/{{component.id}}/" id="myform" method="post"  enctype="multipart/form-data">{% csrf_token %}
                      <label for="Process_list">Choose Raw Material</label>
                      <input list="Process_list" , name="Process_ID" id="Process_ID">
              
              <datalist id="Process_list">
                  {% for pro in All_Process_List %}
                    
                          <option id={{pro.id}} value="{{pro.name}}">
                          
                  {% endfor %}    
              </datalist>
          {% comment %} <button onclick="myFunction()">Try it</button><br/> {% endcomment %} 
          <input type="submit" name="submit" onclick="return submission()" id="submit_button" value="Assign Raw Material">
          </form>
              </div>

          </div>
          <div class="modal-footer">
            <p>Add New Process </p>   
            <button id="add-new-process" type="button" class="btn btn-primary" onclick="addrow()" >+</button>
            {% comment %} <a href="/fp/all"><button type="button" class="btn btn-danger" data-dismiss="modal" action="/fp/all">Close</button></a> {% endcomment %}
            <button type="button" class="btn btn-success">Save changes</button>
          </div>
        </div>
      </div>
    </div>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script>
      function addrow()
      {
        let tableRef = document.getElementById('process-table');
        let newRow = tableRef.insertRow(-1);
        let newCell = newRow.insertCell(0);
        let newText = document.createTextNode('1');
        newCell.appendChild(newText);
        newCell = newRow.insertCell(1);
        newText = document.createTextNode('2');
        newCell.appendChild(newText);
        newCell = newRow.insertCell(2);
        newText = document.createTextNode('3');
        newCell.appendChild(newText);
        newCell = newRow.insertCell(3);
        newText = document.createTextNode('4');
        newCell.appendChild(newText);
      }
    </script>
  </body>
</html>