<html>

<body>
    <h4>Details of {{ component.Part_Number  }}</h4>
    <table border="1" width="1500">
        <tr>
            <td>Part Number</td>
            <td>Primary Stock Unit</td>
            <td>Purchase Stock Unit</td>
            <td>Material</td>
            <td>type_of_production</td>
            <td>Cost</td>
            <td>Drawing</td>
           
        </tr>
       
        <div>
            <tr>
                    <td>{{ component.Part_Number }}</td>
                    <td>{{ component.Primary_Stock_Unit }}</td>
                    <td>{{ component.Purchase_Stock_Unit }}</td>
                    <td>{{ component.Material }}</td>
                    <td>{{ component.type_of_production }}</td>
                    <td>{{ component.cost }}</td>
                    <td>{{ component.document }}</td>
                    
            </tr>       
    </table>
    <div>
      <h3> Process to be done+++++++++++ </h3>
      <table border="1" width="500" >
             {% for process in All_Process  %}
            <tr>
               <td><h4> {{ process.name  }} </h4></td>
                <td><h4> {{ process.status }} </h4></td>
            </tr>
            {% endfor %}
        </table>
        </div>
        <div>
            <h4><a href="/fp/get_porcess_info/{{ component_id }}/"> Add New Process </a></h4>
        </div>

        <div>
            <h4><a href="/fp/all/"> Done </a></h4>
        </div>

    </div>
  
</body>

</html>