<html>

<body>
  
    <div>
        <h1>Model Name : {{ compoents.Model_name }}</h1>
        <h2>{{ compoents.id }}</h2>
        <h3>Part Number : {{ compoents.Part_Number }}</h3>
        <h3>Primary Stock Unit : {{ compoents.Primary_Stock_Unit }}</h3>
        <h3>Purchase Stock Unit : {{ compoents.Purchase_Stock_Unit }}</h3>
        <h3>Material : {{ compoents.Material }}</h3>
        <h3>type_of_production : {{ compoents.type_of_production }}</h3>
        <h3>cost : {{ compoents.cost }}</h3>
        <h3>Drawing : {{ compoents.document }}</h3>
    
        
    </div>
 
</body>

</html>