
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="card.css">
    <title></title>
  </head>
  <body>
    <div class="container">
      <div class="card">
      <div class="img-box">
        <img src="ACP.jpg" alt="">
      </div>
        <div class="content">
          <h2>Some famous</h2><span>UX/UI Desgigner</span>
          <p>Prathamesh Become Web Devloper at 1200000rs
            Plz I will Do whatever it takes</p>

      </div>
      </div>

      <div class="card">
      <div class="img-box">
        <img src="ACP.jpg" alt="">
      </div>
        <div class="content">
          <h2>Some famous</h2><span>UX/UI Desgigner</span>
          <p>Prathamesh Become Web Devloper at 1200000rs
            Plz I will Do whatever it takes</p>

      </div>
        </div>

      <div class="card">
        <div class="img-box">
        <img src="ACP.jpg" alt="">
        </div>
        <div class="content">
          <h2>Some famous</h2><span>UX/UI Desgigner</span>
          <p>Prathamesh Become Web Devloper at 1200000rs
            Plz I will Do whatever it takes</p>

      </div>

    </div>

  </body>
</html>
