<html>
 <head>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>

    <script type="text/javascript">
      function func () {
        alert('func');
      }

      $(document).ready(function () {
        $('<a href="#" onClick="func();">link</a>').appendTo('#container');
      });
    </script>
       
        <script>
            
            // by name
                function func() 
                {
                    var type = document.getElementsByName("type");
                    if(type[0].checked)
                    {
                        var val = type[0].value;
                        alert(val);
                    }
                    
                    else if(type[1].checked)
                    {
                        var val = type[1].value;
                        alert(val);
                    }
                    
                    else if(type[2].checked)
                    {
                        var val = type[2].value;
                        alert(val);
                    }
                }
                
                // by Id
                 function func2() 
                {
                    if(document.getElementById("h").checked)
                    {
                        var val = document.getElementById("h").value;
                        alert(val);
                    }
                    
                    else if(document.getElementById("r").checked)
                    {
                        var val = document.getElementById("r").value;
                        alert(val);
                    }
                    
                    else if(document.getElementById("a").checked)
                    {
                        var val = document.getElementById("a").value;
                        alert(val);
                    }
                }
    
        </script>
        
    </head>
 
        

  </head>
<body>
<input type="radio" name="type" value="1111" id="h" onclick="func2();"/>0 Human<br/>
{% comment %} <input type="radio" name="type" value="2222" id="r"  onclick="func2();"/>1 Robot<br/>
<input type="radio" name="type" value="3333" id="a" onclick="func2();"/>2 Animal<br/> {% endcomment %}
    <h4>Details of {{ component.Part_Number  }}</h4>
    <table border="1" width="1500">
        <tr>
            <td>Part Number</td>
            <td>Primary Stock Unit</td>
            <td>Purchase Stock Unit</td>
            <td>Material</td>
            <td>type_of_production</td>
            <td>Cost</td>
            <td>Drawing</td>
        </tr>
       
        <div>
            <tr>
                    <td>{{ component.Part_Number }}</td>
                    <td>{{ component.Primary_Stock_Unit }}</td>
                    <td>{{ component.Purchase_Stock_Unit }}</td>
                    <td>{{ component.Material }}</td>
                    <td>{{ component.type_of_production }}</td>
                    <td>{{ component.cost }}</td>
                    <td>{{ component.document }}</td>
            </tr>       
    </table>
        <div>
        <table  border="1" width="500" >
        <h1> Process to be done ========</h1>
             {% for process in process_list  %}

            <tr>
               <td><h2> {{ process.name  }} </h2></td>
                <td><h2> {{ process.status }} </h2></td>
                 <td><h2> <input type="radio" name="type" value=" {{ process.name  }}" id="h" onclick="func2();"/>0 Human<br/> </h2></td>
                 <td><h2><button onclick= myFunction() name="{{ process.name }}" >{{ process.name  }}</button> <input type="text" id="myText" name=" {{ process.name  }}" value=" {{ process.name  }}"></h2></td>
            </tr>
            {% endfor %}
        </table>
        </div>


            <div>
                <form action="/fp/get_porcess_info/{{ component.id }}/" method="post"  enctype="multipart/form-data">{% csrf_token %}
                    {{ form.as_p }}                   
                    <input type="submit" name="submit" value="Add Process">
                    <a href="/fp/all">Cancel</a> 
                </form>
            </div>


            <div>
                <input list="Raw_Material" , name="Inventary_ID">
                    
                    <datalist id="Raw_Material">
                    {% for pro in All_Process_List %}
                                <option value="{{pro.name}}"> 
                    {% endfor %}    
                    </datalist>
        
                    {% comment %} <input type="submit" name="submit" value="Add Process">       {% endcomment %}
                  <br>      
            </div>
    </div> 
  <script>
function myFunction() {
  var x = document.getElementById("myText").value;
 alert(x);
}
</script>

</body>

</html>