<html>
 <head>
   
    </head>
<body>
<input type="radio" name="type" value="1111" id="h" onclick="func2();"/>0 Human<br/>
{% comment %} <input type="radio" name="type" value="2222" id="r"  onclick="func2();"/>1 Robot<br/>
<input type="radio" name="type" value="3333" id="a" onclick="func2();"/>2 Animal<br/> {% endcomment %}
    <h4>Details of {{ component.Part_Number  }}</h4>
    <table border="1" width="1500">
        <tr>
            <td>Part Number</td>
            <td>Primary Stock Unit</td>
            <td>Purchase Stock Unit</td>
            <td>Material</td>
            <td>type_of_production</td>
            <td>Cost</td>
            <td>Drawing</td>
        </tr>
       
        <div>
            <tr>
                    <td>{{ component.Part_Number }}</td>
                    <td>{{ component.Primary_Stock_Unit }}</td>
                    <td>{{ component.Purchase_Stock_Unit }}</td>
                    <td>{{ component.Material }}</td>
                    <td>{{ component.type_of_production }}</td>
                    <td>{{ component.cost }}</td>
                    <td>{{ component.document }}</td>
            </tr>       
    </table>
        <div>
        <table  border="1" width="500" >
        <h1> Process to be done ========</h1>
            {% for process in process_list  %}

            <tr>
                <td><h2> {{ process.name  }} </h2></td>
                <td><h2> {{ process.status }} </h2></td>
                <td><h2> <input type="button" onclick="myFunction(id)" id=" {{ process.id  }}" name= {{ process.name  }} value="Try it"></h2></td>
                
            </tr>
            {% endfor %}
        </table>
        </div>


            <div>
                <form action="/fp/get_porcess_info/{{ component.id }}/" method="post"  enctype="multipart/form-data">{% csrf_token %}
                    {{ form.as_p }}                   
                    <input type="submit" name="submit" value="Add Process">
                    <a href="/fp/all">Cancel</a> 
                </form>
            </div>


            <div>
                <input list="Raw_Material" , name="Inventary_ID">
                    
                    <datalist id="Raw_Material">
                    {% for pro in All_Process_List %}
                                <option value="{{pro.name}}"> 
                    {% endfor %}    
                    </datalist>
        
                    {% comment %} <input type="submit" name="submit" value="Add Process">       {% endcomment %}
                <br>      
            </div>
    </div> 

<input type="button" onclick="myFunction()" id="myBtn" name="myname" value="Try it">

<p id="demo"></p>

<script>
    function myFunction(id) {
    var x = document.getElementById(id).name;
    document.getElementById("demo").innerHTML = x;
    alert( "{{ component.process_list.all}}" )

     {% for pro in process_list %}
            if("{{ pro.name }}" === x)
             var  b = parseInt("{{ item.quantity }}", 10)
        {% endfor %}

        alert(b);
    }
</script>

</body>

</html>