{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static '../static/css/SIH.css' %}">
    <title></title>
  </head>
  <body>
  <div class="body_bg">
    <div class="quote">
    	<div>
    		<div class="box box1">
    		
				<h1><a href="/main/">Sign To Text</a></h1>
    			
    		</div>
    		<div class="bg"></div>
    	</div>
    	<div>
    		<div class="box box2">
				
    				<h1><a href="/Text_To_Sign/">Text To Sign</a></h1>
    		</div>
    		<div class="bg"></div>
    	</div>
    	<div>
    		<div class="box box3">
    		
    			<h1>Help</h1>
          
    		</div>
    		<div class="bg"></div>
    	</div>
    </div>
    
      
    </div>
  </body>
</html>